venv/
.vscode/
carrentalbd2/carrentalbd2/__pycache__/
carrentalbd2/carrental/__pycache__/
carrentalbd2/carrental/migrations/
carrentalbd2/carrental/migrations/__pycache__/
carrentalbd2/reports/__pycache__/
carrentalbd2/reports/migrations/__pycache__/
carrentalbd2/reports/migrations/*
*.pem
__pycache__