venv/
.vscode/
__pycache__
carrentalbd2/carrental/migrations/

carrentalbd2/carrental/fixtures
carrentalbd2/init_all.sh
carrentalbd2/init.sh
carrentalbd2/logfile
carrentalbd2/run.sh
carrentalbd2/reports/migrations
carrentalbd2/main_key.pem
carrentalbd2/carrentalbd2/settings.py

carrentalbd2/database/

*.pem