venv/
.vscode/
carrentalbd2/carrentalbd2/__pycache__/
carrentalbd2/carrental/__pycache__/
carrentalbd2/carrental/migrations/
carrentalbd2/carrental/migrations/__pycache__/

carrentalbd2/carrental/fixtures
carrentalbd2/database
carrentalbd2/init_all.sh
carrentalbd2/init.sh
carrentalbd2/logfile
carrentalbd2/run.sh
carrentalbd2/reports/migrations/__pycache__/
carrentalbd2/reports/__pycache__/
carrentalbd2/reports/migrations
carrentalbd2/main_key.pem
carrentalbd2/carrentalbd2/settings.py
